extends layout

block content
  h1 A Personal Blog
  p Hey, I'm Kashif Saleem. This is my first personal blog based on Express JS.

  a(href="./blog/create") Write an article

  div(class="blogs")
    for blog in blogs
      h2 
        a(href="./blog/view/" + blog.id) #{blog.title} 
        a(href="./blog/edit/" + blog.id) edit