extends ../layout

block content

    a(href="/") Back

    form(action="/blog/update", method="post")
        input(type="hidden", name="id", value=blog.id)
        input(type="text", name="title", placeholder="Article title...", class="form-input", value=blog.title)
        br
        textarea(name="content", cols="60", rows="7", class="form-text", placeholder="What's on your mind?") #{blog.content}
        br
        button(type="submit", class="btn btn-dark") Update